.markdown-preview-view.is-readable-line-width .markdown-preview-sizer {
  max-width: 100% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 8px !important;
  padding-right: 8px !important;
}